svg {
    stroke: none;
    width: 500px;
    height: 500px;
}

#logo-center {
    position: absolute;
    top: 100px;
    left: 150px;
}

#logo-top-left {
    position: absolute;
    top: 55px;
    left: 78px;
}

#logo-top-right {
    position: absolute;
    top: 55px;
    left: 304px;
}

#logo-bottom {
    position: absolute;
    top: 364px;
    left: 147px;
}